.login {
  width: 100%;
  min-height: 100vh;
  background: map-get($colors, night);

  &__header {
    text-align: center;
    padding: 80px 0px;

    img {
      width: 500px;
    }
  }

  &__wrapper {
    text-align: center;
    padding: 0px;
  }
    h1 {
      font-size: 24px;
      font-weight: map-get($weights, slim);
      color: map-get($colors, blood);
      margin-bottom: 50px;
    }

    ul {
      display: flex;
      justify-content: center;
      gap: 4%;
    }

    a {
      display: block;
      width: 200px;
      text-align: center;
      padding: 20px;
      background: map-get($colors, snow);
      border-radius: 10px;
      color: map-get($colors, blood);
      border: 2px inset transparent;

      &:hover {
        background: map-get($colors, blood);
        color: map-get($colors, snow);
        border: 2px inset map-get($colors, snow);
      }

      p {
        font-weight: map-get($weights, boldy);
        font-size: 24px;
      }
    }
  }
