.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 0;
  position: relative;
  height: 100%;
}

.spinner {
  border: #ff000076 solid 4px;
  height: 5rem;
  width: 5rem;
  border-radius: 50px;
  border-bottom-color: #FF0000;
  z-index: 5;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotating 2s linear infinite;

}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}