.dashboard {
  &__content {
    font-size: 18px;
  }

  &__charts {
    display: flex;
    justify-content: space-between;
  }

  &__chartsContent {
    width: 72%;
    height: fit-content;

  }

  &__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__figure {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__line {
    width: 30%;
    height: 1px;
    margin-left: 50px;
    margin-top: 50px;

  }

}