.dashboard {
  display: flex;
  width: 82%;
  flex-direction: column;
  align-content: center;
  margin: 4vh auto;

  &__content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
 
}
