.dashboard {
    font-size: 18px;
    margin-top: 20px;

  &__charts {
    display: flex;
    gap: 31px;
    height: 80vh;
    align-items: center;
  }

  &__chartsLinear {
   
    height: fit-content;

  }

  &__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__nutrients {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.dashboard {
  &__threeGraph {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 70%;
    gap: 30px;
    position: relative;
    margin-top: 30px;
    
  }



}