.welcome {
    margin-bottom: 60px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    h1 {
        font-size: 48px;
        font-weight: 500;
        margin-bottom: 30px;

        span {
            color: map-get($colors, blood);
        }
    }

    p {
        font-size: 500;
        font-weight: 400;
    }
}