
.wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 2rem;
    margin-left: 5rem;

&_title {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
        font-size: 26px;
   margin-left: 20px;
    color: red;
}
&_description {
    font-size: 18px;
    margin-left: 20px;
}
}

