
/*********** activity ************************/


.custom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 39px;
  height: 63px;
  background-color: #e60001;
  color: #ffffff;
  font-size: 7px;
  margin-left: 50px;
  outline-style: none;
}

.activity {
  width: 835px;

  @media screen and (max-width: 1400px) {
    width: 889px !important;
  }

  @media screen and (max-width: 1024px) {
    width: 865px !important;
  }
}


/**********  Legend ****************************/

.barChart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;

  h2 {
    color: #20253a;
    font-weight: map-get($weights, base);
    font-size: 15px;
  }

  &__legend {
    display: flex;
    gap: 20px;
    font-size: map-get($sizes, s);
    color: map-get($colors, mouse);
  }
    li {
      display: flex;
      align-items: center;

      &__kg {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background: #282d30;
        margin-right: 10px;
      }

    &__cal {
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background: #e60000;
        margin-right: 10px;
      }
    }
  }


  /***************     tooltip ***************************/

    .barChart  {
    &__tooltip {
      outline: none;
      background-color: #e60000;
      color: #fff;
      font-size: 7px;
      text-align: center;
      width: 39px;
      height: 63px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }