.pieChartContent {
display: grid;
grid-template-areas: "content";
background: #ccc;
place-items: center;
width: 350px;
height: 350px;
}

.score {
grid-area: content;
  

}

.pieChart {
  grid-area: content;
}
