.cardPieChart {
  display: grid;
  grid-template-areas: "content";
  background: #FBFBFB;
  place-items: center;
  width: 258px;
  height: 263px;
  border-radius: 5px;

  &__score {
    grid-area: content;
  }

  &__number {
    grid-area: content;
  }
  span {
    position: absolute;
    top:81%;
  }
  h3 {
    position: relative;
    top:56%;
    left:9%;
  }
}