$colors: (
  blood: #ff0101,
  night: #020203,
  snow: #fff,
  sea: #4ab8ff,
  gold: #fdcc0c,
  candy: #fd5181,
  fire: #ff0000,
  mouse: #74798c,
  grey: #fbfbfb,
);

$weights: (
  slim: 400,
  base: 500,
  boldy: 700,
);