.routePage {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'horizontal horizontal'
    'vertical content';

}

.content {
  margin: 30px 100px;

  @media (min-width: 1441px) {
    display: flex;
    justify-content: space-evenly;
  }
}

* {
  box-sizing: border-box;
}