.routePage {
  display: grid;
  grid-template-columns: auto 1fr ;
  grid-template-areas: 'horizontal horizontal'
                       'vertical content' ;
                    
}

.content {
  grid-area: content;
}