.error {
  &__page {
  text-align: center;
  padding: 50px 80px 50px 197px;
  }

  h1 {
    line-height: 7rem;
    padding: 30px 0px;
    color: map-get($colors, blood);
    font-size: 7rem;
    font-weight: map-get($weights, boldy);
  }

  p {
    color: map-get($colors, blood);
    font-size: 20px;
    margin-bottom: 50px;
  }

  a {
    color: map-get($colors, night);
    font-weight: map-get($weights, slim);
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;

    &:hover {
      color: map-get($colors, blood);
    }
  }
}